.button {
    outline: 0;
    border: none;
    background-color: $header-down-color;
    color: $header-up-color;
    font-weight: 600;
    height: 2rem;
    padding: 0 0.5rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: $header-up-color;
        color: $header-down-color;
    }

    &__colors {
        margin-right: 3rem;
    }

    &__easy {
        margin-right: 0.3rem;
    }
}